.team-container {
	position: absolute;
	left: 20%;
	display: flex;
}

.red-team {
	width: 30vw;
	height: 50vh;
	background-color:  red;
}


.blue-team {
	width: 30vw;
	height: 50vh;
	background-color:  blue;

}

.messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
.messages li { 
	padding: 5px 10px; 
}
.messages li:nth-child(odd) { 
	background: #eee; 
}